# ignore
# videos
*.mp4




qr_scripts.bat

[Dd]ata/QRCodeGenerator


# [Ii]magesQR/*.png
# pyinstaller .exe
[Dd]ist/ 
[Bb]uild/ 

# build results
[Dd]ebug/
[Dd]ebugPublic/

# directories
.vs/
__pycache__/
